<!--Section: Banner -->
<section class="bg-dark text-light space-lg">
    <picture>
        <source srcset="/content/assets/img/back/webp/back_about1.webp" type="image/webp">
        <source srcset="/content/assets/img/back/back_about1.jpg" type="image/jpeg">
        <img src="/content/assets/img/back/back_about1.jpg" class="bg-image opacity-60">
    </picture>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-10 col-lg-7">
                <span class="title-decorative" translate="ABOUT_SLIDE_SUBTITLE">Queremos</span>
                <h1 class="display-4" translate="ABOUT_SLIDE_TITLE">Masificar tus Inversiones</h1>
                <p class="mb-3" translate="ABOUT_SLIDE_TEXT">Crece tu patrimonio y diversifica tus inversiones dentro del sector inmobiliario.</p>
            </div>
        </div>
    </div>
</section>
<!--Section: Banner -->
<!--Section: Acerca de Nosotros -->
<section class="bg-gradient text-white p-50 wow fadeIn" id="about_us">
    <div class="container">
        <div class="row justify-content-center text-center section-intro">
            <div class="col-12">
                <h2 class="display-4" translate="ABOUT_SECTION1_SUBTITLE">Nuestra Historia</h2>
                <p class="mb-3" translate="ABOUT_SECTION1_TEXT1">
                    inblock nace de la combinación de tecnología, economía compartida, crowdfunding (inversión colectiva) y el tradicional negocio de inversión en bienes raíces, para evolucionar a un modelo de negocio colaborativo online, sencillo y más seguro.
                </p>
            </div>
        </div>
    </div>
</section>
<!--Section: Acerca de Nosotros -->
<!--Section: Team -->
<section class="p-50">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <h2 class="text-center" translate="ABOUT_SECTION3_TITLE">Conoce a Nuestro Equipo</h2>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-10">
                <ul class="feature-list row justify-content-center">
                  <li class="col-6 col-lg-4 text-center">
                      <picture>
                          <source srcset="/content/assets/img/team/webp/alfredo.webp" type="image/webp">
                          <source srcset="/content/assets/img/team/alfredo.jpg" type="image/jpeg">
                          <img src="/content/assets/img/team/alfredo.jpg" class="img-team mb-3 obj-center" alt="Image">
                      </picture>
                      <h5 class="mb-0 bold" translate="ABOUT_SECTION3_TEAM3_NAME">Alfredo Galiano</h5>
                      <span translate="ABOUT_SECTION3_TEAM3_POSITION">Director Comercial</span>
                  </li>
                  <li class="col-6 col-lg-4 text-center">
                      <picture>
                          <source srcset="/content/assets/img/team/webp/ricardo.webp" type="image/webp">
                          <source srcset="/content/assets/img/team/ricardo.jpg" type="image/jpeg">
                          <img src="/content/assets/img/team/ricardo.jpg" class="img-team mb-3 obj-center" alt="Image">
                      </picture>
                      <h5 class="mb-0 bold" translate="ABOUT_SECTION3_TEAM1_NAME">Ricardo Espeche</h5>
                      <span translate="ABOUT_SECTION3_TEAM1_POSITION">Director Tecnológico</span>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Section: Team -->
