<banner-page title="{{'CHANGELOG_SLIDE_TITLE' | translate}}" text="{{'CHANGELOG_SLIDE_TEXT' | translate}}" image="back_changelog1" size="xs" align="start"/>

<!--Section: Changelog list Web Site -->
<section class="p-50">
    <div class="container">
        <h3 translate="CHANGELOG_SECTION1_TITLE">Sitio Web</h3>
        <div class="row">
            <div class="col-12 col-md-2 mb-5">
                <nav class="nav flex-md-column">
                    <span class="badge badge-secondary">24.01.2018</span>
                </nav>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-8">
                <article id="100">
                    <h3><code>1.0.0</code> - <span translate="CHANGELOG_SECTION1_V1_0_0_TITLE">Lanzamiento inicial</span></h3>
                    <div>
                        <p translate="CHANGELOG_SECTION1_V1_0_0_TEXT">Primera versión operativa del sitio basado en los servicios que brinda la empresa.</p>
                    </div>
                </article>
            </div>
            <div class="col">
                <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
                    <a data-smooth-scroll="" href="#100" class="nav-link text-small">1.0.0</a>
                </nav>
            </div>
        </div>
        <hr class="short">
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--Section: Changelog list Web Site -->

<!--Section: Changelog list Dashboard -->
<section class="p-50">
    <div class="container">
        <h3 translate="CHANGELOG_SECTION2_TITLE">Dashboard del Inversor</h3>
        <div class="row">
            <div class="col-12 col-md-2 mb-5">
                <nav class="nav flex-md-column">
                    <span class="badge badge-secondary" translate="CHANGELOG_LABEL_SOON">Proximamente</span>
                </nav>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-8">
                <article id="100">
                    <h3><code>1.0.0</code> - <span translate="CHANGELOG_SECTION2_V1_0_0_TITLE">Lanzamiento inicial</span></h3>
                    <div>
                        <p translate="CHANGELOG_SECTION2_V1_0_0_TEXT">¡Nada para ver aquí!</p>
                    </div>
                </article>
            </div>
            <div class="col">
                <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
                    <a data-smooth-scroll="" href="#100" class="nav-link text-small">1.0.0</a>
                </nav>
            </div>
        </div>
        <!--end of row-->
        <hr class="short">
    </div>
    <!--end of container-->
</section>
<!--Section: Changelog list Dashboard -->
