<main ng-controller="developersController" ng-init="loadDevelopers()">

  <!--Section: Banner -->
  <section class="bg-dark space-lg" id="form_contact">
      <picture>
          <source srcset="/content/assets/img/back/webp/back_developers1.webp" type="image/webp">
          <source srcset="/content/assets/img/back/back_developers1.jpg" type="image/jpeg">
          <img src="/content/assets/img/back/back_developers1.jpg" class="bg-image position-absolute opacity-30">
      </picture>
      <div class="container">

          <div class="row align-items-center justify-content-between">
              <div class="col-12 col-md-6 col-lg-5 section-intro">
                  <h1 class="display-3" translate="DEVELOPERS_SLIDE_TITLE">Financia tu Proyecto Inmobiliario</h1>
                  <p class="mb-3" translate="DEVELOPERS_SLIDE_TEXT">
                      Estamos comprometidos con tu éxito y aspiramos a establecer asociaciones a largo plazo con empresas desarrollistas.
                  </p>
              </div>
              <div class="col-12 col-md-6 col-lg-5">
                  <div class="card">
                      <div class="card-body">
                          <form>
                              <div class="form-group">
                                  <label for="signup-email"><span translate="DEVELOPERS_FORM_LABEL1">Nombre</span> *</label>
                                  <input class="form-control form-control-lg" type="text" name="name" placeholder="{{ 'DEVELOPERS_FORM_PLACEHOLDER1' | translate}}" ng-model="formIAmDeveloper.name" required="">
                              </div>
                              <div class="form-group">
                                  <label for="signup-email"><span translate="DEVELOPERS_FORM_LABEL2">Email</span> *</label>
                                  <input class="form-control form-control-lg" type="email" name="email" placeholder="{{ 'DEVELOPERS_FORM_PLACEHOLDER2' | translate}}" ng-model="formIAmDeveloper.email" required="">
                              </div>
                              <div class="form-group">
                                  <label for="signup-email"><span translate="DEVELOPERS_FORM_LABEL3">Teléfono</span> *</label>
                                  <input class="form-control form-control-lg" type="text" name="phone" placeholder="{{ 'DEVELOPERS_FORM_PLACEHOLDER3' | translate}}" ng-model="formIAmDeveloper.phone" required="">
                                  <small translate="DEVELOPERS_FORM_INFO3">Ingrese con código de área: (351) 5 657687</small>
                              </div>
                              <div class="form-group">
                                  <label for="signup-password"><span translate="DEVELOPERS_FORM_LABEL4">Queremos conocerte</span></label>
                                  <textarea class="form-control form-control-lg" ng-model="formIAmDeveloper.message"></textarea>
                                  <small translate="DEVELOPERS_FORM_INFO4">Escríbanos un breve detalle de su empresa y proyecto.</small>
                              </div>
                              <div class="form-group">
                                  <small>* <span translate="DEVELOPERS_FORM_REFERENCE">Campos obligatorios</span></small>
                              </div>
                              <button type="button" data-action="save" class="btn btn-lg btn-celeste btn-block" ng-click="toIAmDeveloper()">
                                  <span translate="DEVELOPERS_FORM_BTN">Enviar consulta</span>
                              </button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--Section: Banner -->

</main>
